.header-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 48px;

  .header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    background-color: #00a4e4;
    color: #fff;

    .logo {
      width: 100px;
      display: flex;
      justify-content: center;
      align-self: center;
    }

    .userinfo {
      width: 100px;
      background-color: green;
      display: flex;
      justify-content: center;
      align-self: center;
    }
  }
}
